@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 !important;
    display:flex;
}

.contenedor {
    display:flex;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(1,24,52,1) 100%);
    width: 250px;
    height: 50px;
    margin:0;
    padding-left: 0px;
    justify-content: left;
    align-items: left;
    color:white;
    font-size: 20px;
    font-style: unset;
    letter-spacing: 2px;
}

.contenedor li {
    padding: 10px;
    display: block;
    overflow: visible;
    justify-content: left;
    align-items: left;

}




    


.navbar {
    display:block;
    border: 1px solid rgb(78, 76, 76);
    width: 250px;
    padding: 20px;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: rgb(78, 76, 76);
    color: white;
    margin: auto;
    text-align: center;
    
    


}


.navbar ul li {
    list-style: none;
    padding: 15px 10px;
    display:flex;
    margin: 0;
    align-items: center;
    overflow: auto;
    flex:2;
    text-align:center;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    align-items: center;
    flex:1;
    text-align:center;
    
}

.navbar ul li a:hover{
    color: blue;
}