@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    box-sizing: border-box;
    

}

.contenedor {
    width: 400px;
	margin: 50px auto;
	background-color: white;
    border: 1px solid #ECE8E8;
	height: 400px;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
}

body {
   
    font-family: 'Nunito', sans-serif;
    color: rgb(68, 67, 67);
    margin: 0; !important
    
    
}
.imagen {
    width: 75px; 
    height: 75px;
    margin-left: 160px
    
    
}
h2 {
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}

.box1 ul li {
    list-style: none;
    font-size: 5px;
    width: 20px;
    margin-left: 85px;
    
}

#email {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 10px;
    padding: 10px 10px;
}

#password {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 10px;
    padding: 10px 10px;
}
.btn {
    padding: 10px 15px;
    font-size: 12px;
    background: rgb(15, 44, 105);
    border: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 160px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 120px;
    
    
}

.btn:hover{
    color: aqua;
    background-color: black;
}

.olvideishon {
    padding: 10px 15px;
    width: 150px;
    border-radius: 20px;
    border: none;
    font-size: 7px;
    cursor: pointer;
    margin-left: 125px
}

.olvideishon:hover {
    background-color: black;
    color: white;
}